<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <title>Prontuário</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script  type="text/javascript"  src="jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/Atendimento.css">
  <script src="https://kit.fontawesome.com/020806f02c.js" crossorigin="anonymous"></script>
  <script  type="text/javascript"  src="CriaRota.js"></script>
  



</head>

<body>



  <div id="Corpo">

   <div id="Logo">
   <figure>
   <img class="LogoPronto" src="/Logo.png">
   
   <figcaption class="legenda">
      
	<p>
      Pronto Care Atendimento Médico
   </p>
   </figcaption>
   </figure>
   <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                title="Tooltip on top">
                <a onclick="LimparDesc()"><i class="fas fa-sign-out-alt">Logout</i></a>
            </button>
   </div>


      

      <div id="Atendimentos">





        <table class="table table-sm table-dark">
          <thead>

            <tr>
              <th scope="col">Numero do Atendimento</th>
              <th scope="col">Data do Atendimento</th>
              <th scope="col">Medico/Enfermeiro</th>
              <th scope="col">Nome</th>
              <th scope="col">Visualizar</th>
            </tr>
          </thead>
          {{#each DadosProntuario}}
          <tbody>
            <tr>

              <td id="Linha{{id}}" onClick="Elemento({{id}})">{{id}}</a></td>
              <td  onClick="Elemento({{id}})">{{Data}}</td>
              <td  onClick="Elemento({{id}})">{{Homologador}}</td>
              <td  onClick="Elemento({{id}})">{{Nome}}</td>
              <td onClick="Elemento({{id}})">Selecionar</td>
              
            </tr>
          </tbody>
          {{/each}}
        </table>

  <form  method="POST" action="/NovaConsulta">

              
                        <label for="inputEmail4"></label>
                        <input type="text" class="form-control"  name="CPF2" value="2020">
               

<button type="button" class="btn btn-secondary"  title="Nova Consulta"> Nova Consulta</button>
</form>




      </div>






      </br>
      <section id="Graficos">




        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Grafico 1
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div id="curve_chart" style="width: 100%; height: 300px">Histórico de Saúde

                  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                      var data = google.visualization.arrayToDataTable([
                        ['Temperatura', 'Pressão', 'Hemoglobina'],
                        ['2004', 1000, 400],
                        ['2005', 1170, 460],
                        ['2006', 660, 1120],
                        ['2007', 1030, 1600]
                      ]);

                      var options = {
                        title: 'Balanço Sanguineo',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                      };

                      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                      chart.draw(data, options);
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Grafico 2
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div id="Peso" style="width: 100%; height: 300px">


                  <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                      var data = google.visualization.arrayToDataTable([
                        ['Massa Corporea', 'Massa Magra', 'Massa Gorda'],
                        ['2004', 1000, 40],
                        ['2005', 1170, 460],
                        ['2006', 400, 6020],
                        ['2007', 2030, 1000]
                      ]);

                      var options = {
                        title: 'Controle de Peso',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                      };

                      var chart = new google.visualization.LineChart(document.getElementById('Peso'));

                      chart.draw(data, options);
                    }
                  </script>

                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Grafico 3
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Pode Inserir um tipo diferente de grafico aqui!!
              </div>
            </div>
          </div>
        </div>





        </br>







      </section>







      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      </script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


</body>

</html>